/*
	Bootstrap styling overrides
 */

/* Message popup container */

#messages-popup {
	position: fixed;
	bottom: -20px; /* Defeat bootstrap */
	width: 100%;
	z-index: 9999;
	text-align: center;
	display: none; /* Start hidden */
}
#messages-popup > div.alert {
	border-radius: 0px;
}

/* Tables */
table.dataTable thead > tr > th {
	padding-left: 0 !important;
}

table.data-table > tbody > tr > td {
	padding-left: 0 !important;
	vertical-align: middle;
}

/* Galleries */
.dropzone.dz-clickable {
	cursor: pointer;
}
.dropzone {
	.well();
}
.dz-message {
	font-weight: bold;
	font-size: large;
}
.gallery-finish-boxout {
	text-align: center;
}
#bx-pager {

	img {

		.img-responsive();
		.thumbnail();
	}

	a {
		outline: none;
	}

}

/* Drilldown menus */
.drilldown-1 {
	width: 20%;
}
.drilldown-2 {
	width: 30%;
}
.drilldown-3 {
	width: 50%;
}
