/*
 * Adverts
 */

div.listing-preview-container {

	border: 1px dotted #cccccc;
	box-shadow: 10px 10px 5px #888888;
	padding: 10px;
	margin: 10px;

}


div.listing-wrapper {

	.make-row();

}


section.listing-nav {

	.make-row();
	.clearfix();

	margin: 0;

	div.listing-nav-container {

		.make-xs-column(4);
		
	}

	div.listing-action-links {

		.make-xs-column(8);
		text-align: right;

		a.btn-xs {

			margin: 0 0 0 10px;
		}
	}

}


section.listing-infobox {

	.make-row();

	// Style immediate child div
	> div {

		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
		background-color: #f8f8f8;
		color: black;
		margin: 0 15px 10px;
		.clearfix();
		
	}

	div.listing-title {

		.make-sm-column(12);

	}

	div.listing-location-and-price {

		p {
			.make-xs-column(6);
			font-weight: bolder;

			&:nth-of-type(2) {
				text-align: right;
			}

		}

	}

}

section.listing-body {

	.make-sm-column(4);
	margin-bottom: 20px;


}

section.listing-free-text {

	.make-xs-column(12);

}

section.listing-postage-options {

	.make-xs-column(12);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	background-color: #f8f8f8;
	color: black;
	padding: 0 15px;
	margin-top: 10px;

	ul {
		margin: 15px;
		padding: 0;
	}
}

section.listing-images {

	// Tweak l/r padding on largest screens only (Android workaround)
	@media(min-width: @screen-lg-min) {

		padding-left: 0 !important;
		padding-right: 0 !important;

	}

	.make-sm-column(8);
	.clearfix();

	#bx-controls-custom { 

		// Size based on screen sizes (must use percentages here)
		@media(max-width: @screen-xs-max) {
		    width: 8%;
		}
		@media(min-width: @screen-sm-min) {
		    width: 7%;
		}
		@media(min-width: @screen-md-min) {
		    width: 6%;
		}		
		@media(min-width: @screen-lg-min) {
		    width: 5%;
		}

		display: inline-block;
		font-size: 22px;
		text-align: center;

		a {
			color: @grid-title-grey;
		}
		a:hover {
			color: black;
		}

		@border_colour: #dddddd;

		div {
			border: 1px solid @border_colour;
			height: 50px;
			line-height: 50px;
			vertical-align: center;
		}
		div:first-child {
			border-top: 2px solid @border_colour;
		}
		div:last-child {
			border-bottom: 2px solid @border_colour;
		}

		.bx-counter {
			font-size: 12px;
			color: @grid-title-grey;
			font-weight: bold;
		}

	}

	#bx-main-custom {

		// Size based on screen size - need to use percentages here
		@media(max-width: @screen-xs-max) {
		    width: 90%; 
		}
		@media(min-width: @screen-sm-min) {
		    width: 90%;
		}
		@media(min-width: @screen-md-min) {
		    width: 92%;
		}		
		@media(min-width: @screen-lg-min) {
		    width: 95%;
		}

		float: right;
		
		#bx-pager {

			text-align: center;
			margin-top: -40px;
			margin-bottom: 20px;

			img {

				margin: 10px;
				//border: 1px dashed white;
			}

			a {
				outline: none;
			}

			// Hide pager on mobiles
			@media(max-width: @screen-xs-max) {
				display: none;
			}

		}

	}

	// Override some default bx slider styling
	.bx-viewport {
		cursor: pointer;
	}
	.bx-wrapper {
		background: none;
		border: none;
		box-shadow: none;
		.clearfix();

		// Tweak bottom margin on mobiles (pager is hidden)
		@media(max-width: @screen-xs-max) {
			margin-bottom: 20px;
		}
		
	}

}

// Style the reserve confirmation popover div
div.listing-reserve-confirm {

	text-align: center;

}