/*
 * Error pages
 */

div.error-page-image {

	.make-sm-column(3);
	
	img {
		.img-responsive();
		border-radius: 5px;
		box-shadow: 5px gray;
	}

}

div.error-page-text {
	
	.make-sm-column(9);
	
}

