/* Nav bars overrides */

a.navbar-brand {
	font-family: Josefin Sans, Serif;
	font-size: 18px;
	text-transform: none !important;
}


header.cc-navbar-main {
	
	a.social-link {
	
		// Hide Social text on full size nav
		@media(min-width: @screen-sm-min) {			
		 	padding-right: 0px;
			span {
				display: none;
			}

		}

		img {
			max-height: 14px;
			display: inline;
		}

	}
}

header.cc-navbar-members {

	margin-top: -20px;

	@media(max-width: @screen-xs-max){

		.navbar-collapse.collapse {
			display: block!important;
		}

		.navbar-nav>li, .navbar-nav {
			float: left !important;
		}

		.navbar-nav.navbar-right:last-child {
			margin-right: -15px !important;
		}

		// The right align navbar needs adjustment at this size
		.navbar-right {
			float: none;
		}

	}

}

// Style the badges a little
.label-as-badge {
    border-radius: 1em;
}